/* global */

:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
    background-color: #fff;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* header */

.header {
    background-color: #fff;
}

.logo {
    color: var(--dark);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    text-decoration: none;
}

.accent {
    color: var(--primary-brand);
}

.nav-link {
    color: var(--dark);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--pressed-state);
}

.address {
    font-style: normal;
}

.address-link {
    color: var(--text);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus {
    color: var(--pressed-state);
}

/* footer */

.footer {
    background-color: var(--dark);
}

.footer-logo {
    color: var(--light);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-text {
    color: var(--accent);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* hero */

.hero {
    background-color: var(--dark);
}

.hero-title {
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
}

.hero-btn {
    color: #fff;
    background-color:var(--primary-brand);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state);
}

/* features */

.features-item-title {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.features-item-text {
    color: var(--text);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* about */

.about-title {
    color: var(--dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

/* team */

.team {
    background-color: var(--light);
}

.team-title {
    color: var(--dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-item {
    background-color: #fff;
}

.team-item-title {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.team-item-text {
    color: var(--text);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* portfolio */

.portfolio-btn {
    color: var(--primary-brand);
    background-color:var(--light);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: #fff;
    background-color: var(--pressed-state);
}

.card-list-item-text {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
